################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Acceleration-based-action-detection/CopilotIndices/17.13.444.19527
/.vs/Acceleration-based-action-detection/FileContentIndex
